<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
        <div class="card card-stats h-100">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">shop</i>
            </div>
            <p class="card-category">Products</p>
            <h3 class="card-title">{{ productsActive }}<br>
              <small>Active</small>
            </h3>
          </div>
          <div class="card-footer mt-auto">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
        <div class="card card-stats h-100">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Customers</p>
            <h3 class="card-title">000<br>
              <small>Active</small>
            </h3>
          </div>
          <div class="card-footer mt-auto">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
        <div class="card card-stats h-100">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">input</i>
            </div>
            <p class="card-category">Orders</p>
            <h3 class="card-title">000<br>
              <small>Unpaid orders</small>
            </h3>
          </div>
          <div class="card-footer mt-auto">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
        <div class="card card-stats h-100">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">euro</i>
            </div>
            <p class="card-category">Bills</p>
            <h3 class="card-title">{{ billsNew }}<br>
              <small>$ Unpaid</small>
            </h3>
          </div>
          <div class="card-footer mt-auto">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
