<div class="col-2 form-group">
  <label for="tableSearch">Keresés:</label>
  <select [(ngModel)]="filterKey" id="tableSearch" class="form-control">
    <option value="">All column</option>
    <option *ngFor="let key of keys" [value]="key">
      {{ key | titlecase }}
    </option>
  </select>
</div>

<div class="col-8 mb-5 input_container">
  <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Search..." />
</div>

<div>
  <button class="col-12 mb-5 btn btn-info">Create new product</button>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sortClickHandler('id')">
            Id
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'id' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'id' && direction === 'desc',
                  sortActive: headerSortActive === 'id'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('name')">
            Name
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'name' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'name' && direction === 'desc',
                  sortActive: headerSortActive === 'name'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('type')">
            Type
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'type' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'type' && direction === 'desc',
                  sortActive: headerSortActive === 'type'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('catID')">
            Catalog ID
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'catID' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'catID' && direction === 'desc',
                  sortActive: headerSortActive === 'catID'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('description')">
            Description
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'description' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'description' && direction === 'desc',
                  sortActive: headerSortActive === 'description'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('price')">
            Price
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'price' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'price' && direction === 'desc',
                  sortActive: headerSortActive === 'price'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('featured')">
            Featured
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'featured' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'featured' && direction === 'desc',
                  sortActive: headerSortActive === 'featured'
                }">
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('active')">
            Active
            <span>
              <i [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'active' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'active' && direction === 'desc',
                  sortActive: headerSortActive === 'active'
                }">
              </i>
            </span>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="
            let item of productList$
              | async
              | filter: phrase:filterKey
              | sort: direction:column:type
          ">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.catID }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.featured }}</td>
          <td>{{ item.active }}</td>
        <td>
          <div
              class="btn-group"
              role="group"
              aria-label="Button group with edit and delete buttons"
            >
              <button [routerLink]="['/edit-bill', item.id]" class="btn btn-warning">
                <i class="material-icons">edit</i>
              </button>
              <button (click)="deleteProduct(item.id)" class="btn btn-danger">
                <i class="material-icons">delete</i>
              </button>
            </div>
        </td>
          

        </tr>
      </tbody>
    </table>
  </div>
</div>
