<div class="col-2 form-group">
  <label for="tableSearch">Keresés:</label>
  <select [(ngModel)]="filterKey" id="tableSearch" class="form-control">
    <option value="">All column</option>
    <option *ngFor="let key of keys" [value]="key">
      {{ key | titlecase }}
    </option>
  </select>
</div>

<div class="col-8 mb-5 input_container">
  <input
    [(ngModel)]="phrase"
    type="text"
    class="form-control"
    placeholder="Search..."
  />
</div>

<div>
  <button class="col-12 mb-5 btn btn-info">Create new product</button>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sortClickHandler('id')">
            Id
            <span>
              <i
                [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'id' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'id' && direction === 'desc',
                  sortActive: headerSortActive === 'id'
                }"
              >
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('customerID')">
            Name
            <span>
              <i
                [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'customerID' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'customerID' && direction === 'desc',
                  sortActive: headerSortActive === 'customerID'
                }"
              >
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('productID')">
            Type
            <span>
              <i
                [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'productID' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'productID' && direction === 'desc',
                  sortActive: headerSortActive === 'productID'
                }"
              >
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('amount')">
            Catalog ID
            <span>
              <i
                [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'amount' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'amount' && direction === 'desc',
                  sortActive: headerSortActive === 'amount'
                }"
              >
              </i>
            </span>
          </th>
          <th (click)="sortClickHandler('status')">
            Description
            <span>
              <i
                [ngClass]="{
                  fa: true,
                  'fa-arrow-down':
                    headerSortActive !== 'status' || direction === 'asc',
                  'fa-arrow-up':
                    headerSortActive === 'status' && direction === 'desc',
                  sortActive: headerSortActive === 'status'
                }"
              >
              </i>
            </span>
          </th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let item of orderList$
              | async
              | filter: phrase:filterKey
              | sort: direction:column:type
          "
        >
          <td>{{ item.id }}</td>
          <td>{{ item.customerID }}</td>
          <td>{{ item.productID }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.status }}</td>

          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Button group with edit and delete buttons"
            >
              <button class="btn btn-warning">
                <i class="material-icons">edit</i>
              </button>
              <button class="btn btn-danger">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
