<div class="row">
  <div *ngIf="customer$ | async as customer" class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onUpdate(customer)">
      <div class="form-group">
        <label for="">ID:</label>
        <input
          [(ngModel)]="customer.id"
          name="id"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Firstname:</label>
        <input
          [(ngModel)]="customer.firstName"
          name="firstname"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Lastname:</label>
        <input
          [(ngModel)]="customer.lastName"
          name="lastname"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          [(ngModel)]="customer.email"
          name="email"
          type="email"
          class="form-control"
        />
      </div>

      <div class="form-group border border-secondary rounded p-3 pb-4 pt-4">
        <div>
          <h5>ADDRESS</h5>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="">Zip:</label>
            <input
              [(ngModel)]="customer.address.zip"
              name="address"
              type="text"
              class="form-control"
            />
          </div>
          <div class="col-8">
            <label for="">Country:</label>
            <input
              [(ngModel)]="customer.address.country"
              name="address"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">City:</label>
            <input
              [(ngModel)]="customer.address.city"
              name="city"
              type="text"
              class="form-control"
            />
          </div>
          <div class="col-6">
            <label for="">Street:</label>
            <input
              [(ngModel)]="customer.address.street"
              name="street"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Notes:</label>
        <input
          [(ngModel)]="customer.address.notes"
          name="notes"
          type="text"
          class="form-control"
        />
      </div>
      <button [disabled]="userForm.invalid" class="btn btn-primary btn-block mt-3">
        <i class="fa fa-save"></i>
         Update
      </button>
    </form>
  </div>
</div>

{{ customer$ | async | json }}
