<div class="card card-stats h-100">
  <div class="card-header card-header-warning card-header-icon">
    <h3 class="card-title text-center mt-3">
      <small>{{ title }}</small>
    </h3>
  </div>
  <div *ngIf="(data0$ | async) && (data1$ | async)" class="card-body">
    <canvas height="400"
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="barChartType"
    >
    </canvas>
  </div>
  <div class="card-footer mt-auto">
    <div class="stats">
      <i class="material-icons">date_range</i> Last 24 Hours
    </div>
  </div>
</div>
