<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Edit Product</h4>
    <p class="card-category">Don't forget to save your changes :)</p>
  </div>
  <div *ngIf="product$ | async as product" class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onUpdate(product)">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="" class="bmd-label-floating">ID</label>
            <input [(ngModel)]="product.id" type="hidden" name="id" class="form-control">
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Name</label>
            <input [(ngModel)]="product.name" type="text" name="name" class="form-control">
            <div [hidden]="productForm.controls['name']?.valid" class="error-message">
              Please enter a valid product name.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Type</label>
            <input [(ngModel)]="product.type" type="text" name="type" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="" class="bmd-label-floating">CatID</label>
            <input [(ngModel)]="product.catID" type="number" name="catid" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Description</label>
            <input [(ngModel)]="product.description" type="text" name="description" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Price</label>
            <input [(ngModel)]="product.price" type="number" name="price" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Featured</label>
            <input [(ngModel)]="product.featured" type="boolean" name="featured" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="" class="bmd-label-floating">Active</label>
            <input [(ngModel)]="product.active" type="boolean" name="active" class="form-control">
          </div>
        </div>
      </div>
      <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary pull-right">Save</button>

      <div class="clearfix"></div>
    </form>
  </div>
</div>

