<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <a routerLink="/" class="simple-text logo-mini"> Webshop </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="#0">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/product">
          <i class="material-icons">shop</i>
          <p>Products</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customers">
          <i class="material-icons">person</i>
          <p>Customers</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#0">
          <i class="material-icons">input</i>
          <p>Orders</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/bill">
          <i class="material-icons">euro</i>
          <p>Bills</p>
        </a>
      </li>
      <!-- your sidebar here -->
    </ul>
  </div>
</div>
