<div class="row">
  <div *ngIf="order$ | async as order" class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onUpdate(order)">
      <div class="form-group">
        <label for="">ID:</label>
        <input
          [(ngModel)]="order.id"
          name="id"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Firstname:</label>
        <input
          [(ngModel)]="order.customerID"
          name="customerID"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Lastname:</label>
        <input
          [(ngModel)]="order.productID"
          name="productID"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          [(ngModel)]="order.amount"
          name="amount"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group border border-secondary rounded p-3 pb-4 pt-4">
        <div>
          <h5>ADDRESS</h5>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="">Zip:</label>
            <input
              [(ngModel)]="order.status"
              name="address"
              type="text"
              class="form-control"
            />
          </div>
      <button
        [disabled]="userForm.invalid"
        class="btn btn-primary btn-block mt-3"
      >
        <i class="fa fa-save"></i>
        Update
      </button>
    </form>
  </div>
</div>

{{ order$ | async | json }}
